<div class="logo"></div>
<ul nz-menu nzTheme="dark" nzMode="horizontal">
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/home']">主页</a>
  </li>
  <li nz-menu-item nzMatchRouter >
    <a [routerLink]="['/about']">关于</a>
  </li>
  <li nz-menu-item nzMatchRouter class="login_menu" *ngIf="!isLogin">
    <a [routerLink]="['/login']">登陆/注册</a>
  </li>
  <li nz-menu-item nzMatchRouter class="login_menu"   *ngIf="isLogin">
    <a (click)="logout_test()"><a nz-icon nzType='user'></a>个人</a>
  </li>
</ul>
