<div nz-row nzJustify="center">
  <nz-card class="reset-card">
    <p>输入注册邮箱，你会收到一封验证邮件，在验证你的邮箱后，你的账户密码将会被重置为
      <strong>
        hbutcloud
      </strong>
      。</p>
    <p>重置密码后即可使用该密码登录，不要忘记稍后在个人中心修改你的密码。</p>
    <form nz-form nzLayout="inline" [formGroup]="resetForm" (submit)="onSubmit()" >
      <nz-form-item>
        <nz-form-label>注册邮箱</nz-form-label>
        <nz-form-control nzErrorTip="请输入正确的邮箱!">
          <input type="text" nz-input placeholder="邮箱" formControlName="email" >
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button nz-button [nzType]="'primary'" [nzLoading]="isLoading">重置</button>
      </nz-form-item>

    </form>
  </nz-card>
</div>
<nz-alert
  *ngIf="isError"
  nzType="error"
  nzMessage="错误"
  nzDescription="重置出现了问题：{{ errorMessage }}"
  nzShowIcon
></nz-alert>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="确认邮箱"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <ng-container *nzModalContent>
    <nz-input-group [nzSuffix]="inputClearTpl">
      <input type="text" nz-input [(ngModel)]="inputValue" placeholder="输入验证邮件中的验证码" />
    </nz-input-group>
    <ng-template #inputClearTpl>
      <span
        nz-icon
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="inputValue"
        (click)="inputValue = null"
      ></span>
    </ng-template>
  </ng-container>
</nz-modal>

