<div class="ui middle aligned center aligned grid" style="height: 100%;margin-top: 50px">
  <div class="column" style="max-width: 450px;">
    <h2 class="ui teal image header">
      <img src="https://cdn.hbutcloud.top/about.jpg" class="image">
      <div class="content">
        注册新账户
      </div>
    </h2>
    <form [formGroup]="logonForm" (submit)="onSubmit()" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="envelope icon"></i>
            <input type="text "placeholder="Email" formControlName="email">
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input" >
            <i class="info icon"></i>
            <input type="text" placeholder="昵称" formControlName="nickname">
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" placeholder="密码" formControlName="password">
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" placeholder="再次输入密码" formControlName="re_password">
          </div>
        </div>

        <div class="requested field">
          <div class="ui left icon input">
            <i class="keyboard icon"></i>
            <input type="text" placeholder="邀请人邮箱（选填）" formControlName="inviter">
          </div>
        </div>

        <div class="fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="code icon"></i>
              <input type="text" formControlName="ver_code" placeholder="验证码">
            </div>
          </div>
          <div class="field">
            <!--              <img src="/api/user/captcha"/>-->
            <img [src]="imgSrc" (click)="getImgSrc()"/>
          </div>
        </div>


        <button class="ui fluid large teal submit button">注册</button>
      </div>

      <div class="ui error message"></div>

    </form>
    <div class="ui icon message">
      <i class="comment icon"></i>
      <div class="content">
        <div class="header">
          验证邮箱！
        </div>
        <p>请在五分钟内点击邮箱里的确认邮件</p>
      </div>
    </div>
    <div class="ui error message"></div>
  </div>
</div>
