<div nz-row nzJustify="center">
    <form nz-form [formGroup]="loginForm" (submit)="onSubmit()" class="login-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入正确的邮箱!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input placeholder="邮箱" formControlName="username" >
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="密码长度不得少于6位!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="密码">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>记住我</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a [routerLink]="['/user/reset']" class="login-form-forgot">重制密码</a>
        </div>
      </div>

      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="isLoading">登陆</button>
      你也可以
      <a [routerLink]="['/user/logon']">现在注册!</a>
    </form>
</div>
<nz-alert
  *ngIf="isError"
  nzType="error"
  nzMessage="错误"
  nzDescription="登陆出现了问题：{{ errorMessage }}"
  nzShowIcon
></nz-alert>









