<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h2 class="ui center aligned icon header">
          <img src="https://cdn.hbutcloud.top/about.jpg" class="ui icon image" style="height:65px; width:auto;" alt="">
          老学长站
        </h2>
        <div class="ui large list">
          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              湖北工业大学
            </div>
          </div>
          <div class="item">
            <i class="mail icon"></i>
            <div class="content">
              <a href="mailto:cd20000618@qq.com">cd20000618@qq.com</a>
            </div>
          </div>
          <div class="item">
            <i class="linkify icon"></i>
            <div class="content">
              <a href="https://www.hbutcloud.top">www.hbutcloud.top</a>
            </div>
          </div>
        </div>
      </div>
      <div class="six wide right floated column">
        <img src="https://cdn.hbutcloud.top/index.png" class="ui large bordered rounded image" alt="">
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">你可以做什么？</h3>
    <p>很多，如一键生成文献阅读和导入课程表到日历， 新模块暂时叫校园墙模块，你可以在平台发布自己的帖子。</p>
    <h4 class="ui divider"></h4>
    <h3 class="ui header">你可以说什么？</h3>
    <p>欢迎反馈，不建议憋着。</p>
    <h4 class="ui divider"></h4>
    <h3 class="ui header">你可以看什么？</h3>
    <p>博客不定时更新，欢迎邮箱投稿。</p>
    <a class="ui large button" href="/blog/">现在就去</a>
  </div>
</div>
